streamlit
langchain
langchain-core
langchain-community
langchain-classic
langchain-groq
langchain-huggingface
sentence-transformers
langchain-text-splitters
faiss-cpu
transformers
torch
numpy
pandas
PyPDF2
tiktoken
pypdf